@import 'variables.scss';

.meetups {
    display: flex;
    justify-content: space-around;
    text-align: center;

    &__item {

        display: flex;
        flex-direction: column;
        text-align: center;

        span {
            margin-top: 15px;
        }

        img.aperos {
            @include borderImage($locBlue);
        }

        img.workshops {
            @include borderImage($locPink);
        }

        img.techtalks {
            @include borderImage($locPurple);
        }
    }
}