/**
 * Bleu: #4EA29B
 * Rose: #E64533 
 * Violet: #2B3280
 */

 @import './variables.scss';

 body {
    background-color: #fff;
    margin: 0 auto; 
    font-family: 'Montserrat', sans-serif;
}

.header {
    @include paddingPage;
    display: flex;
    justify-content: space-between;
    background: $codeEditorBg;
}

 

nav {
    display: flex;
    align-items: center;

    ul {
        list-style-type: none;
        li {
            display: inline-block;
            width: 100px;
            text-align: center;
            font-size: 16px;
        
            a {
                color: black;
                text-decoration: none;
            }
        
            a:hover {
                background-color: #eee;
                border-bottom: 3px solid;
            }
        
        }
    } 
}



.actions {
    display: flex;
}