/**
 * Bleu: #4EA29B
 * Rose: #E64533 
 * Violet: #2B3280
 */

 @import './variables.scss';

 body {
    background-color: #fff;
    margin: 0 auto; 
    font-family: 'Montserrat', sans-serif; 
}

.header {
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    background: $codeEditorBg;

    &__logo {
        margin-left: 90px;
    }
}

 

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    width: 100px;
}

.actions {
    display: flex;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    background-color: #eee;
    padding: 2px 6px;
    border-bottom: 3px yellow solid;
}
