.section {
	p {
		margin-bottom: 30px;
	}

	&__partners {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-gap: 3.125rem;
		justify-items: center;
		align-items: center;

		margin: 0 80px;

		img {
			height: 50px;
			justify-self: center;
		}

		p {
			margin-bottom: 30px;
		}
	}
}

.bg {
	&-ada {
		width: 257px;
		height: 80px;
		background: url('../images/partners.png') -439px -10px;
	}

	&-alan {
		width: 182px;
		height: 80px;
		background: url('../images/partners.png') -10px -410px;
	}

	&-dashlane {
		width: 373px;
		height: 80px;
		background: url('../images/partners.png') -10px -110px;
	}

	&-dataiku {
		width: 143px;
		height: 80px;
		background: url('../images/partners.png') -10px -510px;
	}

	&-docker {
		width: 170px;
		height: 80px;
		background: url('../images/partners.png') -212px -410px;
	}

	&-doctolib {
		width: 237px;
		height: 80px;
		background: url('../images/partners.png') -439px -110px;
	}

	&-duchessfrance {
		width: 80px;
		height: 80px;
		background: url('../images/partners.png') -314px -310px;
	}

	&-everoad {
		width: 80px;
		height: 80px;
		background: url('../images/partners.png') -571px -410px;
	}

	&-freecodecamp {
		width: 149px;
		height: 80px;
		background: url('../images/partners.png') -402px -410px;
	}

	&-google {
		width: 78px;
		height: 80px;
		background: url('../images/partners.png') -110px -610px;
	}

	&-jobteaser {
		width: 129px;
		height: 80px;
		background: url('../images/partners.png') -173px -510px;
	}

	&-logo_port_parallele {
		width: 284px;
		height: 80px;
		background: url('../images/partners.png') -10px -310px;
	}

	&-octo {
		width: 210px;
		height: 80px;
		background: url('../images/partners.png') -439px -310px;
	}

	&-parisdataladies {
		width: 80px;
		height: 80px;
		background: url('../images/partners.png') -322px -510px;
	}

	&-theodo {
		width: 409px;
		height: 80px;
		background: url('../images/partners.png') -10px -10px;
	}

	&-ut7 {
		width: 80px;
		height: 80px;
		background: url('../images/partners.png') -422px -510px;
	}

	&-wescale {
		width: 80px;
		height: 80px;
		background: url('../images/partners.png') -522px -510px;
	}

	&-wimlds {
		width: 323px;
		height: 80px;
		background: url('../images/partners.png') -10px -210px;
	}

	&-womenonrails {
		width: 222px;
		height: 80px;
		background: url('../images/partners.png') -439px -210px;
	}

	&-womenwhogo {
		width: 80px;
		height: 80px;
		background: url('../images/partners.png') -10px -610px;
	}
}
