/**
 * Phrase clignotante 
 */

@import './variables.scss';

 .code-editor {
  background-color: $codeEditorBg;
  font-family: 'B612 Mono', monospace;
  font-size: 22px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__smalldevices {
    padding: 40px;
  }

  span {
    display: none;
  }

  &__diese {
    color: $locPink;
    margin-left: 90px;
    margin-right: 5px;
  }

  #loc {
    margin-right: 10px;
  }

  #community {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
 }

  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  @media screen and (min-width: 900px) {
    .code-editor {
      flex-direction: row;
      height: 380px;

      span {
        display: block;
      }

      &__smalldevices {
        display: none;
      }
    }
  }
