/**
 * Phrase clignotante 
 */

@import './variables.scss';

 .code-editor {
  background-color: $codeEditorBg;
  font-family: 'B612 Mono', monospace;
  font-size: 22px;
  padding: 40px;

  &__diese {
    color: $locPink;
    margin-right: 5px;
  }

  #loc {
    margin-right: 10px;
  }

 }

  
  

  @media screen and (min-width: 900px) {
    .code-editor {

      display: flex;
      align-items: center;
      flex-direction: row;
      height: 280px;

      span {
        display: inline;
      }

    }
  }
