
@import './variables.scss';

.section {
    margin-top: 85px;

    h2 {
        font-family: 'B612 Mono', monospace;
        text-align: left;
        padding-left: 32px;
        margin-bottom: 50px;
    
        &::before {
            content: url('../images/chevron.svg');
            position: relative;
            top: 4px;
            margin-right: 21px;
        }
    }

    text-align: center;

    img {
        max-width: 400px;
    }

    a {
        display: inline-block;
        font-style: normal;
        font-weight: bolder;
        font-size: 25px;
        line-height: 22px;
        text-decoration: none;
        color: #000;
        margin-top: 44px;
        padding: 3px 6px;
    }

    &__diversity, .diversity {
        display: flex;
        flex-direction: column;

        &-school {
            border-bottom: 10px solid $locBlue;
        }

        &-amtdp {
            border-bottom: 10px solid $locPurple;
        }

        &-codeweek {
            border-bottom: 10px solid $locPink; // tata
        }

        img {
            max-width: 200px;
        }

        div {
            @include spaceSection();
            display: flex;
            align-items: center; 
            background-color: $codeEditorBg;
            box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);

            p {
                text-align: center;
                font-size: 18px;
                line-height: 26px;
                padding: 30px;
            }
        }

        &-school, &-amtdp {
            align-self: flex-end;
        }

    }
}

footer {
    text-align: center;

    background: #FAFAFA;
    
    h2 {
        font-family: 'B612 Mono', monospace;
    }
}

@media screen and (min-width: 1200px) {
    .section {
        &__diversity {
            div {
                width: 1200px;
            }
        }
    }
}