$codeEditorBg:#F7FAFF;
$locBlue:#4EA29B;
$locPink: #E64533; 
$locPurple: #2B3280;

@mixin paddingPage {
    padding: 30px;
}

.cta {

    width: 450px;
    margin-top: 15px;
    display: inline-block; 

    line-height: 20px;
    font-size: 30px;

    &--pink {
        background: rgba(229, 51, 52, 0.3);
    }

    a {
        text-decoration: none;
        color: #000;
    }
}