$codeEditorBg:#F7FAFF;
$locBlue:#4EA29B;
$locPink: #E64533; 
$locPurple: #2B3280;

@mixin spaceSection {
    margin-bottom: 75px;
}

@mixin paddingPage {
    padding: 30px;
}

@mixin borderImage($color) {
    height: 255px;
    border-left: 9px solid $color;
    border-right: 9px solid $color;
}

.cta {

    width: 450px;
    margin-top: 15px;
    display: inline-block; 

    line-height: 20px;
    font-size: 30px;

    &--pink {
        box-shadow: inset -10px -30px 1px #E5333433; 
    }

    &--pink:hover {
        background-color: $locPink;
        color: #fff;
    }

    a {
        text-decoration: none;
        color: #000;
    }
}