/**
 * Phrase clignotante 
 */
.cta {
  width: 450px;
  margin-top: 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 30px; }
  .cta a {
    text-decoration: none;
    color: #000; }

.code-editor {
  background-color: #F7FAFF;
  font-family: 'B612 Mono', monospace;
  font-size: 22px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .code-editor__smalldevices {
    padding: 40px; }
  .code-editor span {
    display: none; }
  .code-editor__diese {
    color: #E64533;
    margin-left: 90px;
    margin-right: 5px; }
  .code-editor #loc {
    margin-right: 10px; }
  .code-editor #community {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite; }

@keyframes caret {
  50% {
    border-color: transparent; } }

@media screen and (min-width: 900px) {
  .code-editor {
    flex-direction: row;
    height: 380px; }
    .code-editor span {
      display: block; }
    .code-editor__smalldevices {
      display: none; } }
