/**
 * Phrase clignotante 
 */
.cta {
  width: 450px;
  margin-top: 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 30px; }
  .cta a {
    text-decoration: none;
    color: #000; }

.code-editor {
  background-color: #F7FAFF;
  font-family: 'B612 Mono', monospace;
  font-size: 22px;
  padding: 40px; }
  .code-editor__diese {
    color: #E64533;
    margin-right: 5px; }
  .code-editor #loc {
    margin-right: 10px; }

@media screen and (min-width: 900px) {
  .code-editor {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 280px; }
    .code-editor span {
      display: inline; } }
