.cta {
  width: 450px;
  margin-top: 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 30px; }
  .cta a {
    text-decoration: none;
    color: #000; }

.cta {
  width: 450px;
  margin-top: 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 30px; }
  .cta a {
    text-decoration: none;
    color: #000; }

.section {
  margin-top: 85px;
  text-align: center; }
  .section h2 {
    font-family: 'B612 Mono', monospace;
    font-size: 21px;
    text-align: left;
    padding-left: 32px;
    margin-bottom: 50px; }
    .section h2::before {
      content: url("../images/chevron.svg");
      position: relative;
      top: 4px;
      margin-right: 21px; }
  .section img {
    max-width: 400px; }
  .section .big-meetup {
    display: inline-block;
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    line-height: 22px;
    text-decoration: none;
    color: #000;
    margin-top: 44px;
    padding: 3px 6px;
    box-shadow: inset -10px -30px 1px #E5333433; }
  .section .big-meetup:hover {
    background-color: #E64533;
    color: #fff; }
  .section__diversity, .section .diversity {
    display: flex;
    flex-direction: column; }
    .section__diversity-school, .section .diversity-school {
      border-bottom: 10px solid #4EA29B; }
    .section__diversity-amtdp, .section .diversity-amtdp {
      border-bottom: 10px solid #2B3280; }
    .section__diversity-codeweek, .section .diversity-codeweek {
      border-bottom: 10px solid #E64533; }
    .section__diversity img, .section .diversity img {
      max-width: 200px; }
    .section__diversity div, .section .diversity div {
      margin-bottom: 75px;
      display: flex;
      align-items: center;
      background-color: #F7FAFF;
      box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
      flex-direction: column; }
      .section__diversity div p, .section .diversity div p {
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        padding: 30px; }
    .section__diversity-school, .section__diversity-amtdp, .section .diversity-school, .section .diversity-amtdp {
      align-self: flex-end; }
    .section__diversity-cta, .section .diversity-cta {
      text-decoration: none;
      color: #000;
      font-size: 24px;
      display: inline-block;
      margin-top: 50px; }
      .section__diversity-cta::before, .section .diversity-cta::before {
        content: url("../images/arrow.svg");
        width: 20px;
        margin-right: 10px; }
      .section__diversity-cta span, .section .diversity-cta span {
        padding: 0 13px; }
    .section__diversity-cta.cta--green span, .section .diversity-cta.cta--green span {
      box-shadow: inset 0px -10px 1px #4EA29B33; }
    .section__diversity-cta.cta--green span:hover, .section .diversity-cta.cta--green span:hover {
      background: rgba(35, 161, 154, 0.3);
      box-shadow: none; }
    .section__diversity-cta.cta--pink span, .section .diversity-cta.cta--pink span {
      box-shadow: inset 0px -10px 1px #E6453333; }
    .section__diversity-cta.cta--pink span:hover, .section .diversity-cta.cta--pink span:hover {
      background: rgba(229, 51, 52, 0.3);
      box-shadow: none; }
    .section__diversity-cta.cta--purple span, .section .diversity-cta.cta--purple span {
      box-shadow: inset 0px -10px 1px #2B328033; }
    .section__diversity-cta.cta--purple span:hover, .section .diversity-cta.cta--purple span:hover {
      background: rgba(43, 50, 128, 0.3);
      box-shadow: none; }

footer {
  margin-top: 100px;
  text-align: center;
  height: 150px;
  background: #E3D9BA43; }
  footer h2 {
    padding-top: 30px;
    font-family: 'B612 Mono', monospace; }
  footer a {
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color: #000; }
    footer a::before {
      font-size: 34px; }
  footer a:hover {
    color: #2B3280; }
  footer a:nth-child(even):hover {
    color: #E64533; }

@media screen and (min-width: 1200px) {
  .section__diversity div, .section .diversity div {
    width: 1200px;
    flex-direction: row; }
  .section__diversity img, .section .diversity img {
    max-width: 400px; } }

/**
 * Bleu: #4EA29B
 * Rose: #E64533 
 * Violet: #2B3280
 */
.cta {
  width: 450px;
  margin-top: 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 30px; }
  .cta a {
    text-decoration: none;
    color: #000; }

body {
  background-color: #fff;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }

.header {
  padding: 30px;
  background: #F7FAFF; }
  .header__logo {
    text-align: center; }

nav {
  display: none;
  align-items: center; }
  nav ul {
    list-style-type: none; }
    nav ul li {
      display: inline-block;
      width: 100px;
      text-align: center;
      font-size: 16px; }
      nav ul li a {
        color: black;
        text-decoration: none; }
      nav ul li a:hover {
        background-color: #eee;
        border-bottom: 3px solid; }

.actions {
  display: flex; }

@media screen and (min-width: 900px) {
  .header {
    display: flex;
    justify-content: space-between; }
  nav {
    display: flex; } }

/**
 * Phrase clignotante 
 */
.cta {
  width: 450px;
  margin-top: 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 30px; }
  .cta a {
    text-decoration: none;
    color: #000; }

.code-editor {
  background-color: #F7FAFF;
  font-family: 'B612 Mono', monospace;
  font-size: 22px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .code-editor__smalldevices {
    padding: 40px; }
  .code-editor span {
    display: none; }
  .code-editor__diese {
    color: #E64533;
    margin-left: 90px;
    margin-right: 5px; }
  .code-editor #loc {
    margin-right: 10px; }
  .code-editor #community {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite; }

@keyframes caret {
  50% {
    border-color: transparent; } }

@media screen and (min-width: 900px) {
  .code-editor {
    flex-direction: row;
    height: 380px; }
    .code-editor span {
      display: block; }
    .code-editor__smalldevices {
      display: none; } }

.cta {
  width: 450px;
  margin-top: 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 30px; }
  .cta a {
    text-decoration: none;
    color: #000; }

.meetups {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column; }
  .meetups__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    margin-top: 30px; }
    .meetups__item span {
      margin-top: 15px; }
    .meetups__item img.aperos {
      height: 255px;
      border-left: 9px solid #4EA29B;
      border-right: 9px solid #4EA29B; }
    .meetups__item img.workshops {
      height: 255px;
      border-left: 9px solid #E64533;
      border-right: 9px solid #E64533; }
    .meetups__item img.techtalks {
      height: 255px;
      border-left: 9px solid #2B3280;
      border-right: 9px solid #2B3280; }

@media screen and (min-width: 1000px) {
  .meetups {
    flex-direction: row; } }

.section p {
  margin-bottom: 30px; }

.section__partners {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2.5rem;
  margin: 0 80px; }
  .section__partners img {
    height: 50px;
    justify-self: center; }
  .section__partners p {
    margin-bottom: 30px; }
