.cta {
  width: 450px;
  margin-top: 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 30px; }
  .cta--pink {
    background: rgba(229, 51, 52, 0.3); }
  .cta a {
    text-decoration: none;
    color: #000; }
